body {
  margin: 0;
  padding: 0;
  background-color: rgba(245, 244, 244, 0.959);
}

.ParentApp {
  height: 100%;
  width: 100%;
}

.App-header {
  height: 100px;
  width: auto;
  /* background-color: gray; */
  font-family: fantasy;
  font-size: xx-large;
  color: cadetblue;
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.searchbar {
  height: 25px;
  width: 400px;
  margin: 0 auto 0 auto;
  border-radius: 50px;
  background-color: rgb(245, 245, 185);
  border: 1px solid rgb(247, 223, 144);
  padding: 8px;
  padding-left: 16px;
  /* box-shadow: 1px 1px 5px rgba(192, 191, 191 0.5); */
  display: flex;
  flex-direction: row;
}

.imageLocation {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}

input:focus, button:focus {
  outline: none;
}

.searchInput {
  width: 350px;
  font-size: medium;
  color: rgb(63, 62, 62);
  background-color: rgb(245, 245, 185);
  border: none;
}

.searchButton {
  background-color: transparent;
  border: none;
}

.weather-card-parent {
  background-color: white;
  border-color: gray;
  border: 1px solid rgba(163, 161, 161, 0.356);
  height: 300px;
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  font-family: Geneva;
}

.location {
  font-size: xx-large;
  padding: 8px;
  color: gray;
}

#description {
  font-size: medium;
  padding: 8px;
  color: gray;
}

.temperature {
  font-size: xx-large;
  padding: 8px;
  color: black;
}

.superscript {
  font-size: xx-small;
  padding: 0;
}

.temperature-unit {
  font-size: small;
  color: blue;
}